
services:
  redis:
    image: redis:alpine
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  srh:
    # CHANGED: Build directly from the public Github repo instead of pulling an image
    build: https://github.com/hiett/serverless-redis-http.git
    restart: always
    environment:
      - SRH_MODE=env
      - SRH_TOKEN=example_token
      - SRH_CONNECTION_STRING=redis://redis:6379
    ports:
      - "8079:80"
    depends_on:
      - redis

volumes:
  redis_data:
